/* #region // -variables */
/* #endregion */
/* #region // -blcok search form */
.search {
  background-color: #262A34;
}
.search__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 20px 60px;
}

.select__body {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  border-bottom: 0.5px solid #F0F0F0;
}
.select__wrap::after {
  background: url("../img/icon/drop-down-white.svg") 0 0/auto auto no-repeat;
}

.select:nth-child(1) {
  width: 142px;
}

.select:nth-child(2) {
  width: 129px;
}

.select:nth-child(3) {
  width: 138px;
}

.select:nth-child(4) {
  width: 123px;
}

.select:nth-child(5) {
  width: 94px;
}

.select:nth-child(6) {
  width: 73px;
}

.select:nth-child(7) {
  width: 88px;
}

.reset {
  display: none;
}
.reset__label {
  color: #fff;
  margin-right: 16px;
  padding: 10px 0;
  cursor: pointer;
}

.btn-search {
  width: 48px;
  height: 48px;
}

/* #endregion */
/* #region map */
.content {
  display: flex;
}
.content__list {
  width: 38%;
}
.content__option {
  display: flex;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  background-color: #fff;
  padding: 30px 40px;
}

.map {
  width: 63cqw;
  height: 57cqw;
}
.map__frame {
  width: 100%;
  height: 100%;
}

.form-check {
  width: 200px;
  height: 41px;
  display: flex;
  align-items: center;
}

.form-check-input {
  box-shadow: none;
}

.form-check-label {
  margin-left: 32px;
}

.form-check-label-one {
  margin-bottom: 8px;
}

.select {
  width: 88px;
}
.select__wrap::after {
  width: 16px;
  height: 16px;
  background: url("../img/icon/drop-down-black.svg") 0 0/auto auto no-repeat;
}
.select__body-black {
  color: #181A20;
  border-bottom: 0.5px solid #C4C4C4;
}
/* #endregion */