@media (max-width: 1440px) {
  .header-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {

  // -fonts -----------------
  .f-head {
    font-size: 14px;
    line-height: 17px;
  }

  // -header -----------------
  .header {
    padding: 30px 50px 29px 88px;

    &__logo {
      width: 122px;
      height: 30px;
      align-self: center;
      margin-right: 33px;
    }
  }

  // -communaites header ------------------

  .communities {
    padding: 100px 80px;
  }

  .communities__header {
    margin-bottom: 80px;
  }
}

@media (max-width: 992px) {

  .header {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .communities__title {
    font-size: clamp(36px, 4.9cqi, 48px);
  }

  .cards {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

@media (max-width: 768px) {
  .communities {
    padding: 40px 20px;
  }

  .communities__details {
    padding-left: 0;
  }

  .communities__title {
    margin-bottom: 40px;
  }

  .communities__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, 335px);
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    grid-template-columns: 1fr 1fr;
  }
}