@import "../../scss/variables";

/* #region // -blcok search form */

.search {
  background-color: $baltic-sea;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 120px 20px 60px;
  }
}

.select {
  &__body {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: $white;
    border-bottom: 0.5px solid #F0F0F0;
  }

  &__wrap::after {
    background: url('../img/icon/drop-down-white.svg') 0 0 / auto auto no-repeat;
  }
}

.select:nth-child(1) {
  width: 142px;
}

.select:nth-child(2) {
  width: 129px;
}

.select:nth-child(3) {
  width: 138px;
}

.select:nth-child(4) {
  width: 123px;
}

.select:nth-child(5) {
  width: 94px;
}

.select:nth-child(6) {
  width: 73px;
}

.select:nth-child(7) {
  width: 88px;
}

.reset {
  display: none;

  &__label {
    color: $white;
    margin-right: 16px;
    padding: 10px 0;
    cursor: pointer;
  }
}

.btn-search {
  width: 48px;
  height: 48px;
}

/* #endregion */

/* #region map */

.content {
  display: flex;

  &__list {
    width: 38%;
  }

  &__option {
    display: flex;
    align-items: center;
    column-gap: 100px;
    background-color: $white;
    padding: 30px 40px;
  }
}

.map {
  width: 63cqw;
  height: 57cqw;

  &__frame {
    width: 100%;
    height: 100%;
  }
}

// -check bootstrap -----------------------

.form-check {
  width: 200px;
  height: 41px;
  display: flex;
  align-items: center;
}

.form-check-input {
  box-shadow: none;
}

.form-check-label {
  margin-left: 32px;
}

.form-check-label-one {
  margin-bottom: 8px;
}


.select {
  width: 88px;

  &__wrap::after {
    width: 16px;
    height: 16px;
    background: url('../img/icon/drop-down-black.svg') 0 0 / auto auto no-repeat;
  }

  &__body-black {
    color: $mirage;
    border-bottom: 0.5px solid #C4C4C4;
    ;
  }

  &__label {}
}

/* #endregion */